**1. Use a python code to display the following star pattern using the for loop.**

In [ ]:
# Increasing star pattern
for i in range(1, 5):
# Using string repetition operator
    print(i * '* ')

# Decreasing star pattern
for i in range(5, 0, -1): # -1 in for loop is the difference between consecutive iterator values
    print(i * '* ')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

**2. Use looping to output the elements from a provided list present at odd indexes.**

 **my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]**

In [ ]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Looping through the list using the range function with a step of 2, starting from index 1
for i in range(1, len(my_list), 2):
    print(my_list[i])

20
40
60
80
100

**3.Write a code that appends the type of elements from a given list.**

**Input**

**x = [23, ‘Python’, 23.98]**

**Expected output**

**[23, 'Python', 23.98]**

**[<class 'int'>, <class 'str'>, <class 'float'>]**

In [ ]:
x = [23, 'Python', 23.98] # The line creating the list named x
output = [type(i) for i in x] # To give the output for the x types
print(x)
print(output)

[23, 'Python', 23.98]
[<class 'int'>, <class 'str'>, <class 'float'>]

**4. Write a function that takes a list and returns a new list with unique items of the first list.**

**Sample List: [1,2,3,3,3,3,4,5]**

**Unique List: [1, 2, 3, 4, 5]**

In [ ]:
def get_unique_items(data_list): # This function takes a list and returns a new list with unique items.
                                 # data_list: The list to remove duplicates from.
                                 # A new list containing only the unique items from the input list.
  unique_list = []
  for item in data_list:
    if item not in unique_list:
      unique_list.append(item)
  return unique_list

# Sample list
sample_list = [1, 2, 3, 3, 3, 3, 4, 5]

# Get the unique list
unique_list = get_unique_items(sample_list)

# Print the unique list
print(unique_list)

[1, 2, 3, 4, 5]

**5. Write a function that accepts a string and calculate the number of upper-case letters and lower-case letters.**

**Input String: 'The quick Brow Fox'**

**Expected Output:**

**No. of Upper-case characters: 3**

**No. of Lower-case Characters: 12**

In [ ]:
def count(input_string):
# list comprehension and sum method is used to calculate the count
 print('No. of Upper-case Characters:', sum(1 for c in input_string if c.isupper()))
 print('No. of Lower-case Characters:', sum(1 for c in input_string if c.islower()))

# Assigning the string
input_string = 'The quick Brow Fox'
count(input_string)

No. of Upper-case Characters: 3
No. of Lower-case Characters: 12