<a href="https://colab.research.google.com/github/nyeldi/machinelearning/blob/main/ML_ICP_01_YELDI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1

The following is a list of 10 students ages:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

• Sort the list and find the min and max age

• Add the min age and the max age again to the list

• Find the median age (one middle item or two middle items divided by two)

• Find the average age (sum of all items divided by their number)

• Find the range of the ages (max minus min)

In [12]:
# Initial list of ages
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

# Sort the list and find the min and max age
ages_sorted = sorted(ages) #sorts the list of ages in ascending order
min_age = ages_sorted[0] #the first element in sorted list
max_age = ages_sorted[-1] #the last element in sorted list

# Add the min age and the max age again to the list
ages.append(min_age) #adds the minimum age
ages.append(max_age) #adds the maximum age

# Find the median age (one middle item or two middle items divided by two)
ages_sorted = sorted(ages) #sorts the updated list again
n = len(ages_sorted) #gets the no. of elements in sorted list
if n % 2 == 0: #checks if the no. of elements is even
    median_age = (ages_sorted[n // 2 - 1] + ages_sorted[n // 2]) / 2
else: #if the elements are odd
    median_age = ages_sorted[n // 2]

# Find the average age (sum of all items divided by their number)
average_age = sum(ages) / len(ages)

# Find the range of the ages (max minus min)
age_range = max_age - min_age #subtract the min age from max age

# Print the results of the given list
print("Sorted List:", ages_sorted)
print("Minimum Age:", min_age)
print("Maximum Age:", max_age)
print("Median Age:", median_age)
print("Average Age:", average_age)
print("Range of Ages:", age_range)

Sorted List: [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Minimum Age: 19
Maximum Age: 26
Median Age: 24.0
Average Age: 22.75
Range of Ages: 7

Question 2

• Create an empty dictionary called dog

• Add name, color, breed, legs, age to the dog dictionary

• Create a student dictionary and add first_name, last_name, gender, age, marital status,skills, country, city and address as keys for the dictionary

• Get the length of the student dictionary

• Get the value of skills and check the data type, it should be a list

• Modify the skills values by adding one or two skills

• Get the dictionary keys as a list

• Get the dictionary values as a list

In [13]:
# Creating an empty dictionary called dog
dog = {}

# Adding name, color, breed, legs, age to the dog dictionary
dog['name'] = 'Bruno'
dog['color'] = 'Brown'
dog['breed'] = 'Shihtzu'
dog['legs'] = 4
dog['age'] = 3

# Creating a student dictionary and adding specified keys
student = {
    'first_name': 'NIKITHA',
    'last_name': 'YELDI',
    'gender': 'Female',
    'age': 23,
    'marital_status': 'Single',
    'skills': ['Python', 'Java'],
    'country': 'India',
    'city': 'Bangalore',
    'address': '1234 ABC Street'
}

# Getting the length of the student dictionary
student_length = len(student)
print("Length of the student dictionary:", student_length)

# Getting the value of skills and check the data type
skills = student['skills']
print("Value of skills:", skills)
print("Data type of skills:", type(skills))

# Modifying the skills values by adding one or two skills
student['skills'].extend(['ReactJs', 'JavaScript'])
print("Updated skills:", student['skills'])

# Getting the dictionary keys as a list
student_keys = list(student.keys())
print("Keys of the student dictionary:", student_keys)

# Getting the dictionary values as a list
student_values = list(student.values())
print("Values of the student dictionary:", student_values)

Length of the student dictionary: 9
Value of skills: ['Python', 'Java']
Data type of skills: <class 'list'>
Updated skills: ['Python', 'Java', 'ReactJs', 'JavaScript']
Keys of the student dictionary: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']
Values of the student dictionary: ['NIKITHA', 'YELDI', 'Female', 23, 'Single', ['Python', 'Java', 'ReactJs', 'JavaScript'], 'India', 'Bangalore', '1234 ABC Street']

Question 3

• Create a tuple containing names of your sisters and your brothers (imaginary siblings are
fine)

• Join brothers and sisters tuples and assign it to siblings

• How many siblings do you have?

• Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [31]:
# Define tuples containing names of imaginary siblings
brothers = ('SAI', 'SRUJAN')
sisters = ('SAMSKRUTHI', 'ASHRITHA')

# Join brothers and sisters tuples
siblings = brothers + sisters

# Count the number of siblings
num_siblings = len(siblings)

# Modify the siblings tuple to add the names of imaginary parents
father = 'SRINIVASA RAO YELDI'
mother = 'SUDHA RANI YELDI'
family_members = (father, mother) + siblings

# Print the results
print(f"Number of siblings: {len(siblings)}")
print(siblings)
print("type: ",type(family_members))
print("Family Members: ",family_members)

Number of siblings: 4
('SAI', 'SRUJAN', 'SAMSKRUTHI', 'ASHRITHA')
type:  <class 'tuple'>
Family Members:  ('SRINIVASA RAO YELDI', 'SUDHA RANI YELDI', 'SAI', 'SRUJAN', 'SAMSKRUTHI', 'ASHRITHA')

Question 4

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}

A = {19, 22, 24, 20, 25, 26}

B = {19, 22, 20, 25, 26, 24, 28, 27}

age = [22, 19, 24, 25, 26, 24, 25, 24]

• Find the length of the set it_companies

• Add 'Twitter' to it_companies

• Insert multiple IT companies at once to the set it_companies

• Remove one of the companies from the set it_companies

• What is the difference between remove and discard

• Join A and B

• Find A intersection B

• Is A subset of B

• Are A and B disjoint sets

• Join A with B and B with A

• What is the symmetric difference between A and B

• Delete the sets completely

• Convert the ages to a set and compare the length of the list and the set.

In [36]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Finding the length of the set it_companies
print("Length of it_companies:", len(it_companies))

# Adding 'Twitter' to it_companies
it_companies.add('Twitter')

# Insert multiple IT companies at once to the set it_companies
it_companies.update(['TCS', 'HARMAN', 'Accenture', 'Wipro'])

# Remove one of the companies from the set it_companies
it_companies.remove('HARMAN')

# What is the difference between remove and discard
print(f"Remove will raise an error if the element is not present, while discard won't raise any error.")

# Joining A and B
join_set = A.union(B)
print("Union of A and B:", join_set)

# Finding A intersection B
intersection_set = A.intersection(B)
print("Intersection of A and B:", intersection_set)

# Is A subset of B
print("Is A a subset of B?", A.issubset(B))

# Are A and B disjoint sets
print("Are A and B disjoint sets?", A.isdisjoint(B))

# Joining A with B and B with A
print("Join A with B:", A.union(B))
print("Join B with A:", B.union(A))

# What is the symmetric difference between A and B
symmetric_difference = A.symmetric_difference(B)
print("Symmetric difference between A and B:", symmetric_difference)

# Delete the sets completely
del it_companies
del A
del B

# Converting the ages to a set and compare the length of the list and the set
age_set = set(age)
print("Length of age list:", len(age))
print("Length of age set:", len(age_set))

Length of it_companies: 7
Remove will raise an error if the element is not present, while discard won't raise any error.
Union of A and B: {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of A and B: {19, 20, 22, 24, 25, 26}
Is A a subset of B? True
Are A and B disjoint sets? False
Join A with B: {19, 20, 22, 24, 25, 26, 27, 28}
Join B with A: {19, 20, 22, 24, 25, 26, 27, 28}
Symmetric difference between A and B: {27, 28}
Length of age list: 8
Length of age set: 5

Question 5

The radius of a circle is 30 meters.

• Calculate the area of a circle and assign the value to a variable name of _area_of_circle_

• Calculate the circumference of a circle and assign the value to a variable name of
_circum_of_circle_

• Take radius as user input and calculate the area.

In [38]:
import math

# Given radius
radius = 30

# Calculating area of the circle
area_of_circle = math.pi * radius ** 2

# Calculating circumference of the circle
circum_of_circle = 2 * math.pi * radius

# Print the results
print("Area of the circle:", area_of_circle)
print("Circumference of the circle:", circum_of_circle)

# Taking radius as user input
user_radius = float(input("Enter the radius of the circle: "))

# Calculating area with user input radius
user_area_of_circle = math.pi * user_radius ** 2

# Print the result
print("Area of the circle with radius", user_radius, "is:", user_area_of_circle)

Area of the circle: 2827.4333882308138
Circumference of the circle: 188.49555921538757
Enter the radius of the circle: 22
Area of the circle with radius 22.0 is: 1520.53084433746

Question 6

“I am a teacher and I love to inspire and teach people”

• How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [6]:
sentence = "I am a teacher and I love to inspire and teach people"

#number of unique words in given string
unique_words = set(sentence.split())
num_unique_words = len(unique_words)
print("Number of unique words:", num_unique_words)

#Split function by default uses whiteSpaces as the separator in the string sentence
list = sentence.split(' ')
print(list)

Number of unique words: 10
['I', 'am', 'a', 'teacher', 'and', 'I', 'love', 'to', 'inspire', 'and', 'teach', 'people']

Question 7

Use a tab escape sequence to get the following lines.

Name Age Country City

Asabeneh 250 Finland Helsinki

In [8]:
# To print the text by using the tab escape sequence
print("Name\t\tAge\tCountry\tCity")
print("Asabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

Question 8

Use the string formatting method to display the following:

radius = 10

area = 3.14 * radius ** 2

“The area of a circle with radius 10 is 314 meters square.”

In [9]:
# To find the radius of the circle
radius = 10
area = 3.14 * radius ** 2
message = "The area of a circle with radius {} is {} meters square.".format(radius, int(area))
print(message)

The area of a circle with radius 10 is 314 meters square.

Question 9

Write a program, which reads weights (lbs.) of N students into a list and convert these weights to kilograms in a separate list using Loop. N: No of students (Read input from user)

Ex: L1: [150, 155, 145, 148]

Output: [68.03, 70.3, 65.77, 67.13]

In [11]:
# Function to convert pounds to kilograms
def pounds_to_kilograms(pounds):
    return round(pounds * 0.453592, 2)

# Read the number of students
N = int(input("Enter the number of students: "))

# Initialize the list to store weights in pounds
weights_lbs = []

# Read the weights in pounds
for i in range(N):
    weight = float(input(f"Enter weight of student {i+1} in pounds: "))
    weights_lbs.append(weight)

# Convert the weights to kilograms
weights_kgs = [pounds_to_kilograms(weight) for weight in weights_lbs]

# Print the weights in kilograms
print("Weights in kilograms:", weights_kgs)

Enter the number of students: 2
Enter weight of student 1 in pounds: 24
Enter weight of student 2 in pounds: 54
Weights in kilograms: [10.89, 24.49]